.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.btn-pink {
    color: #fff;
    background-color: #343433;
    border-color: #343433;
}

.btn-pink:hover {
    color: white;
}

.slider {}

.main-nav {
    background-color: rgba(249, 246, 248, 0.92);
    box-shadow: 0px 0px 10px #000;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(52, 52, 51);
    text-transform: uppercase;
}

#mainSlider {}

.carousel-item>img {
    border-bottom: 15px solid #8470ff;
}

.carousel-caption h1 {
    display: inline-block;
    font-size: 59px;
    line-height: 1em;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: solid 1px #fff;
    overflow-wrap: break-word;
    width: 100%;
    text-shadow: 0px 0px 10px #000;
}

.carousel-caption p {
    font-size: 32px;
    text-shadow: 0px 0px 10px #000;
}

.intro {
    padding: 140px 0px 100px 0px;
}

.intro h2 {
    color: #0d56a2;
    margin-bottom: 100px;
    font-size: 28px;
}

.intro img {
    margin: 0 auto;
    height: 150px;
    margin-bottom: 20px;
}

.intro-graph {
    font-size: 100px;
    color: #66ba0c;
    padding-bottom: 20px;
}

.paralaxOne {
    min-height: 600px;
    background: url(../img/pbgone.jpg) fixed center / cover;
    padding: 250px 0px 100px 0px;
}

.paralaxOne h2 {
    color: #fff;
    display: inline-block;
    font-size: 59px;
    line-height: 1em;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: solid 1px #fff;
    overflow-wrap: break-word;
    width: 100%;
    text-shadow: 0px 0px 10px #000;
}

.paralaxOne h4 {
    color: #fff;
    font-size: 32px;
    text-shadow: 0px 0px 10px #000;
}

.info {
    padding: 150px 0px 150px 0px;
}

.info h2 {
    color: #b8aa84;
}

.paralaxTwo {
    min-height: 600px;
    background: url(../img/pbgtwo.jpg) fixed center / cover;
    padding: 300px 0px 100px 0px;
}

.paralaxTwo h2 {
    color: #b8aa84;
}

.paralaxTwo h4 {
    color: #fff;
    display: inline-block;
    font-size: 30px;
    line-height: 1em;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: solid 1px #fff;
    overflow-wrap: break-word;
    width: 100%;
    text-shadow: 0px 0px 10px #000;
}

#about {
    padding: 41px 0px 11px 0px;
}

#about h2 {
    color: #b8aa84;
}

#about p {
    font-size: 18px
}

#footer {
    background: #fff;
    padding: 35px
}

#footer h4 {
    color: #fff;
    font-size: 18px;
    padding-bottom: 11px;
}

#footer a {
    color: rgb(52, 52, 51);
}

#footer p {
    color: rgb(52, 52, 51);
}

.socailm i {
    border-radius: 9px;
    background: #ef8b1d;
    color: #fff;
    font-size: 19px;
    padding: 10px;
}

.socailm i:hover {
    background: #e9b500;
}

.contact i {
    padding: 5px;
    border-radius: 8px;
}

.copyright {
    border-top: 3px solid #b8aa84;
    padding-top: 20px;
}

.email-text {
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-radius: 0px;
    border: 1px solid #b8aa84
}

.password-text {
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-radius: 0px;
    border: 1px solid #b8aa84
}

.fa-facebook {
    background: #1d54ef!important;
}

.fa-youtube {
    background: #d6111b!important;
}

.fa-twitter {
    background: #0b96b9!important;
}

.logo {
    height: 80px;
}

.nav-item a:hover {
    color: #b8aa84!important;
}